*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/backhouse.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #3eb7ff;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.txt-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.txt-box h1{
    font-size: 62px;
}
.txt-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.top-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.2s;

}
.top-btn:hover{
    background-color: #3eb7ff;
}
nav .fa-solid{
    display: none;
}
@media(max-width: 700px){
    .txt-box h1{
        font-size: 20px;

    }
    .nav-links ul li {
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #3eb7ff;
        height: 100vh;

        width: 200px;
        top: 0;
        visibility: hidden;
        text-align: left;
        z-index: 2;
        
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
.sub-header{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/sha.png");
    background-position: center;
    background-size: cover;
    position: relative; ;
}
.abtring{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.abtring h4{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;
    text-align: center;
    color: white;

}
.abtring h4::after{
    content: '';
    width: 10%;
    height: 2px;
    background: #3eb7ff;
    display: block;
    margin: auto;
}
.abtring p{
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 500;
    color: darkgrey;
}
.sub-header-us{
    height: 50vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/best-about-us-pages.jpg");
    background-position: center;
    background-size: cover;
    position: relative; ;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.tstmonial{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.tstmonial h1{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;
    text-align: center;
    color: black;

}
.tstmonial h1::after{
    content: '';
    width: 10%;
    height: 2px;
    background: #3eb7ff;
    display: block;
    margin: auto;
}
.tstmonial p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: black;
}
.tstmonial-col{
    flex-basis: 29%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    box-sizing: border-box;
    background: #b9ebff;
    padding: 20px 12px;
    cursor: pointer;
    display: flex;
    transition: 0.2s;
}
.tstmonial-col:hover{
    box-shadow: 0 0 20px 0px rgba(4,9,30,0.7);
}
.tstmonial img{
    height: 70px;
    margin-left: 5px;
    margin-right: 60px;
    border-radius: 50%;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
.sub-header-con{
    height: 50vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/contact.jpg");
    background-position: center;
    background-size: cover;
    position: relative; ;
}
.ContactUs{
    width: 50%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.ContactUs h1{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;
    text-align: center;
    color: black;

}
.ContactUs h1::after{
    content: '';
    width: 20%;
    height: 2px;
    background: #3eb7ff;
    display: block;
    margin: auto;
}
.ContactUs p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: black;
}
.ContactUs h4{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;
    text-align: center;
    color: black;

}
.ContactUs h4::after{
    content: '';
    width: 50%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
}
.sub-header-app{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/app.png");
    background-position: center;
    background-size: cover;
    position: relative; ;
}
